extends layout

block content
	script(src="/socket.io/socket.io.js")
	script(src="javascripts/jscolor.js")
	script(src="javascripts/index_client.js")
	link(href='stylesheets/index.css', rel='stylesheet')
	script.
		document.addEventListener('DOMContentLoaded', function() {
			onLoadFunction();
		}, false);

	h1= title
	p Welcome to #{title}
	button(onclick='start()') Start
	button(onclick='stop()') Stop
	button(onclick='pause()') Pause
	button(onclick='setRGB(0xFF,0,0)') Set red
	button(onclick='setRGB(0,0xFF,0)') Set green
	button(onclick='setRGB(0,0,0xFF)') Set blue
	button(onclick='slideRGB(0xFF,0,0)') Slide red
	button(onclick='slideRGB(0,0xFF,0)') Slide green
	button(onclick='slideRGB(0,0,0xFF)') Slide blue
	button(onclick='queueSlideRGB(0,0xFF,0,0,0,0xFF,1000,4,1)') Queue Slide green blue
	section#secCommands.p Commands
		.commandContainer
			button#buttonStartSettings(onclick="sendStartSettings()") Start Settings
			button#buttonAppendSettings(onclick="sendAppendSettings()") Append Settings
			button#buttonStart(onclick="sendStart()") Start
			button#buttonStop(onclick="sendStop()") Stop
			button#buttonPause(onclick="sendPause()") Pause
	section#secPreview.p Preview
		.previewContainer
			.scrollable
				input#queueCount(type="hidden", value="0")
				button#btAddBefore(onclick="addAnimation(getAnimationData(),-2)") +
				div#divQueue.flex				

				button#btAddAfter(onclick="addAnimation(getAnimationData(),-1)") +
	section#secColors.p Colors
		table#tableColors
			tr
				td
					input#colorInput1.colorInput
				td
					button#buttonColorSwitch(onclick="switchColorInputs()") Switch
				td
					input#colorInput2.colorInput
			tr
				td
					button#buttonColor1First First					
					button#buttonColor1Previous Previous
					button#buttonColor1Next Next
					button#buttonColor1Last Last
				td
				td
					button#buttonColor2First First				
					button#buttonColor2Previous Previous
					button#buttonColor2Next Next
					button#buttonColor2Last Last
	section#secMode.p Mode
		table#tableMode
			tr
				td
					input#radioMode0(type="radio", name="radioMode", value="0", checked="true")
					label Jump
				td
					input#radioMode1(type="radio", name="radioMode", value="1")
					label Fade
			tr
				td
					input#radioMode2(type="radio", name="radioMode", value="2")
					label Strobe
				td
					input#radioMode3(type="radio", name="radioMode", value="3")
					label Pulse
	section#secEffectTime.p
		table#tableTime
			tr
				td
					label Duration
				td(allign-items="center")
					input#rangeDuration(type="range", value=78, min=0, max=100, onchange="this.parentElement.nextElementSibling.childNodes[0].value=Math.round(logslDur.value(this.value)*100)/100")
				td
					input#numberDuration(type="number", value=10, min=0.01, max=65.535, step=0.1, onchange="this.parentElement.previousElementSibling.childNodes[0].value=logslDur.position(this.value)")
				td
					label s
			tr#trPercOn
				td
					label On-Time
				td
					input#rangePercOn(type="range", min=0, max=100, value=50, onchange="this.parentElement.nextElementSibling.childNodes[0].value=this.value")
				td
					input#numberPercOn(type="number", min=0, max=100, value=50, onchange="this.parentElement.nextElementSibling.childNodes[0].value=this.value")
				td
					label %
			tr
				td
					label Repititions
				td
					input#rangeNumRep(type="range", min=0, max=100, value=0, onchange="this.parentElement.nextElementSibling.childNodes[0].value=Math.round(logslRep.value(this.value))-1")
				td
					input#numberNumRep(type="number", min=0, max=255, value=0, onchange="this.parentElement.nextElementSibling.childNodes[0].value=logslRep.position(this.value)")
				td
					label 
			tr
				td
					label Re-Queue
				td
					input#checkReQueue(type="checkbox")
		table
			tr
				td
					button(onclick="applySettings();") Apply
				td
					button Send now
				td
					button(onclick="resetSettings();") Reset
		
		
		